
.main{
    /* border: 1px solid black; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.delivery{
    width: 60%;
    /* border: 1px solid black; */
}
.summary{
    /* border: 1px solid black; */
    width: 28%;
}
.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.5px solid gray;
}
.three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.four{
   
    padding: 10px;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.sum{
    text-align: start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 12px;
    padding-left: 10px;
    text-decoration: underline;
    
}
.heading{
    font-size: 12px;
   font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
    padding-bottom: 20px;
}
.name{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid gray;
 
}
.name>input{
    width: 100%;
    border: 0.5px solid black;
    border-radius: 2px;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.country{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid gray;
}
.country>input{
    width: 100%;
   
    border: 0.5px solid black;
    border-radius: 2px;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}